/*todo
Rainbow Border
Blinky border
Context stacker (roller skate)
make own icons
Make job a template

*/

body{
    /*background: pink;*/
}

.hide{
    display: none !important;
}

.right{
    float: right;
}

.container{
    border: 1px solid purple;
    margin: auto;
    padding: 2em;
    max-width: 960px;
}
.job{
    font-size: 32px;
}

.title{
    display: block;
}

.context{
    padding: 2px;
    border: 1px solid rgba(255, 20, 147, .2);
    display: inline-block;
}



.point,
.point--sub{
    font-size: 20px;
    opacity: .4;
    display: inline-block;
}

.point--sub{
    margin-left: 2em;

}

.time{
    font-size: 70%;

}

.point{
}

.content{
    display: inline-block;
    margin-left: 0.4em;
}

.i-wrap{
    display:inline-block;
}
.i-wrap:before{
    /*content: '--';*/
    font-size: 20px;
}

i.fa:after {
    content: '--';
    display: inline-block;
}