/*todo
Rainbow Border
Blinky border
Context stacker (roller skate)
make own icons
Make job a template

*/

body{
    /*background: pink;*/
}

.hide{
    display: none !important;
}

.right{
    float: right;
}

.emojime__intro{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.site-map a{
    opacity: .4;
}
.site-map a:hover{
    opacity: 1;
}

.container{
    margin: auto;
    max-width: 960px;
}

.emojime{
    border: 1px solid purple;
    padding: 2em;


}

.job{
    font-size: 28px; 
    padding: 1.4em 0;
    border-bottom: 4px double purple;

    /*// display info*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    flex-wrap: nowrap;

}

.job:first-child{
    padding-top: 1em;
}

.title{
    display: block;
}

.context{
    padding: 2px;
    border: 1px solid rgba(255, 20, 147, .2);
    display: inline-block;
}

.sub-point{
    padding-top: .2em;
}
.sub-point:first-child{
    padding-top: .4em;
}

.point,
.point--sub{
    font-size: 20px;
    opacity: .4;
    display: inline-block;
}

.point--sub{
    margin-left: 2em;

}

.time{
    font-size: 70%;

}

.point{
}

.content{
    display: inline-block;
    margin-left: 0.4em;
}

.i-wrap{
    display:inline-block;
}
.i-wrap:before{
    /*content: '--';*/
    font-size: 20px;
}

i.fa:after {
    content: '--';
    display: inline-block;
}

.icon--button{
    padding: 0.3em .3em .5em;
    border-radius: 10px;
    background: rgba(0,0,0,.15);
    display: inline;
    border: 1px solid purple;
    font-size: 1.3em;

    display: inline-block;
    margin-top: 1em;
}