body{
    background: pink;
}

.job{
    font-size: 32px;
}

.title{
    display: inline-block;
}

.context{
    padding: 2px;
    border: 1px solid deeppink;
    display: inline-block;
}

.point,
.sub-point{
    font-size: 20px;
    opacity: .7;
}

.point{
}

.sub-point{
    margin-left: 2em;
}

.content{
    display: inline-block;
}